@layer interactive {
  :where(a, button) {
    cursor: pointer;

    &:where(:focus-visible) {
      outline-style: none;
    }
  }

  a {
    &:where(:focus, :hover) {
      color: var(--color-primary);
    }
  }

  body > footer {
    a {
      &:where(:focus, :hover) {
        color: var(--color-muted-foreground);
      }
    }
  }

  button {
    &:where(:focus, :hover) {
      background-color: var(--color-muted);
      color: var(--color-muted-foreground);
    }
  }

  .btn {
    display: flex;
    gap: calc(var(--spacing) * 2);
    place-items: center;
  }
}
