@theme {
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 86rem;
}

@layer utilities {
  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  @variant sm {
    .container {
      max-width: var(--breakpoint-sm);
    }
  }

  @variant md {
    .container {
      max-width: var(--breakpoint-md);
      padding-inline: 2rem;
    }
  }

  @variant lg {
    .container {
      max-width: var(--breakpoint-lg);
    }
  }

  @variant xl {
    .container {
      max-width: var(--breakpoint-xl);
    }
  }

  @variant 2xl {
    .container {
      max-width: var(--breakpoint-2xl);
    }
  }
}
