@utility logo {
  font-family: var(--font-serif);
  font-style: italic;
  letter-spacing: var(--tracking-widest);
  font-weight: var(--font-light);
  color: var(--color-foreground);
  flex-shrink: 0;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

@utility scrollbar-none {
  /* Trident */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}