@layer base {
  * {
    border-color: var(--color-border);
    outline-color: color-mix(in srgb, var(--color-ring) 50%, transparent);
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
